<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trac.android.tractivity.V1"
    android:versionCode="18"
    android:versionName="2.1.8">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERN_STORAGE"/>
    />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name="com.trac.android.tractivity.configuration.ConfigHostURLiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trac.android.tractivity.login.LoginPage"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.trac.android.tractivity.logs.LogiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.trac.android.tractivity.logs.NewiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:inputType="text|textNoSuggestions"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme" />
        <activity
            android:name="com.trac.android.tractivity.configuration.NetworkMemoryList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".menu.activities.ETCiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".menu.activities.MaterialiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".menu.activities.QtyCompletediTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".menu.activities.NoteiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".menu.activities.JobDetailsiTrac"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitlebarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".menu.activities.AboutTractivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.trac.android.tractivity.backgroundtask.TractivitySyncService"
            android:exported="false" />

        <activity
            android:name="com.trac.android.tractivity.W2S.Jobs"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            >
        </activity>
        <activity
            android:name="com.trac.android.tractivity.W2S.JobDetails"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.trac.android.tractivity.W2S.JobDetailedViewPage"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!--For Barcode Scanner Activity-->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="screenOrientation">
        </activity>
    </application>

</manifest>